# VK API Token
VK_TOKEN=vk1.a.rT7BeOZf16PoBnTqPXfCykzORxkcoqNN09ouOizsk9kkR1_dEn6F6zrjvwYx5GtLbC4JetQKFhuSkhK6bZDZeQQoScIBci3crLxdXHD6SA7ER49eVWqVYtZgmwL8q3kzMiXDIYgjYE9yAESPV3_Se8RKNbxBMUpdyqUbJD42-oc0hS0ehJACdwZenSH3HfJpvTRzS5Tfpo3CyQ7M2Gp0BQ

# Telegram Bot Token
TG_TOKEN=7714581543:AAH37GYnskh7ypztwSPzlLhVvW6dVqhNyzM

# Python settings
PYTHONUNBUFFERED=1
